html {
  font-size: 62.5%;
}
body {
  width: 980px;
  margin: 0 auto;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul.top_menu {
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.image_area{
  width: 100%;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.side_menu{
  width: 300px;
  float: left;
}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li:hover{
  opacity: 0.6;
}
.banner a:hover {
  opacity: 0.6;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}
.content{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.banner_content {
    margin-top: 10px;
    display: table;
}
.banner_content p {
  display: table-cell;
}
.banner_content p img {
  width: 100%;
}
.footer {
  background-color: grey;
  height: 100px;
  width: 100%;
  display: table;
  position: absolute;
  bottom: 0;
}
.footer p {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.contact{
  border-collapse: collapse;
}
.contact tr{
   height: 7rem;
   width: 660px;
}
.contact th{
  width: 150px;
  height: 7rem;
  background-color: white;
  color: black;
  border-bottom: solid 0px ;
  padding-right: 10px;
  text-align: right;
}
.contact td{
  width: 510px;
  height: 7rem;
  padding-left: 10px;
  border: solid 0px ;
}
.contact tr:last-child th {
  border-color: #B1B1B1;
}
.name{
  width: 480px;
}
.emailaddress{
  width: 480px;
}
.contactf{
  width: 480px;
}
.soushin{
margin-left: 290px;
color: white;
background-color: skyblue;
font-weight: bold;
font-size: 15px;
letter-spacing: 5px;
text-align:center;
border: 0px;
border-color: white;
width: 50px;
height: 30px;
}
.soushin:hover{
    opacity: 0.6;
}
